[2020-07-16 09:28] ricardozanini opened #3 "Fix specification path in the types generation script"
Since the specification repo changed its structure, we should update our generation scripts as well.

[2020-07-16 15:28] tsurdilo opened #4 "Sepecification schemas id field changed - may affect sdk"
**What is the question**:
Recently the id fields of the spec schemas changed, for example - https://github.com/serverlessworkflow/specification/blob/master/schema/workflow.json

Might affect the sdk.

[2020-07-17 15:12] ricardozanini opened #7 "YAML/JSON Marshal/Unmarshal support"
**What would you like to be added**:
We are missing a core feature in the SDK to handle Marshal/Unmarshal SW types, being able to handle either YAML and JSON files.

**Why is this needed**:
It's a core feature we're missing :)

[2020-07-17 15:30] #3 closed

[2020-07-17 15:30] #4 closed

[2020-11-06 17:19] #7 closed

[2020-11-12 19:53] ricardozanini opened #14 "Implement external file references to the Workflow parser"
**What would you like to be added**:
In the specification, we have the possibility to add external files references in the workflow definition, for instance:

[code]

In this example, `retries` and `events` are defined externally to the main file. The SDK supposed to incorporate those while parsing the main definition.

**Why is this needed**:
To conform with the specification.

[2020-11-13 16:11] ricardozanini opened #15 "Implement `FromYAMLSource` function on parser package to have same functionality as the JSON parser function"
**What would you like to be added**:

When clients know beforehand that their content is in YAML format, would make a lot of sense having this shortcut in the `parser` package. The code is already there, should be a super easy implementation.

**Why is this needed**:
Enhance the user experience.

[2020-11-18 16:47] iwita commented on #15
Hello, I am a total newbie in open-source contributing.
Could I get that issue assigned?

[2020-11-18 18:12] ricardozanini commented on #15
Hello @iwita ! Welcome!

Please, just go ahead, fork this repo and send a PR :+1:

If you have any questions, please reach out to me at `#serverless-workflow` channel in [CNCF slack](cloud-native.slack.com).

[2020-11-19 12:56] ricardozanini commented on #15
For some reason, I've filed this issue in a moment of a collapsed brain. It's there since the beginning: https://github.com/serverlessworkflow/sdk-go/blob/master/parser/parser.go#L36-L42

@iwita thanks for pointing this out, I'll close this issue for now and will review our roadmap for more things to be done and will let you know.

Thanks again for this contribution! :)

[2020-11-19 12:56] #15 closed

[2020-11-19 15:49] iwita commented on #14
Hello,
So I suppose there should be implemented the following:
1. Recognize directory/file strings using some sort of regexp
2. Parse the encapsulated file (using recursion in case of additional nested files)
3. Replace them in the parsed workflow

Am I right?

[2020-11-19 19:58] ricardozanini commented on #14
Hi!

You can unmarshal the workflow into `RawJson` first and use a map to access `functions`, `events`, or `retries`, which is the types that can have an external reference

I don't think we will have nested files for `functions`, `events`, and `retries`. Only for Subflows. But for this state type, we should handle it differently, maybe in another issue. See for example https://github.com/serverle

[2020-11-19 22:59] tsurdilo commented on #14
@ricardozanini if they are string we currently define as "URI pointing to a resource containing json/yaml function/events/retries definitions".

We just use classpath atm in the java sdk for lookup but should prob update to use uri :) I think it's fine to define it as you guys wish for now and then enhance later if needed

[2020-11-20 09:51] ricardozanini commented on #14
@tsurdilo thanks for the clarification. For this use case specifically, I believe we might need some tweaks in the unmarshalling process. The generated code attributes an array of events to the events field in the workflow. I believe the "RawJson" in our case should do.

@iwita We might need to have a new structure to parse the workflow first into functions, events and retries into RawJson. Then v

[2020-11-23 21:21] alankm opened #16 "Switch types custom UnmarshalJSON only partially implemented."
**What happened**:

I unmarshaled a complex document from JSON, and then attemped to access a field but it caused a panic.

Upon further investigation, I discovered that two structs with custom `UnmarshalJSON` functions only handle the unmarshalling of a single field, everything else is discarded.

**What you expected to happen**:

I expected to have full programmatic access to every field provide

[2020-11-24 11:30] iwita commented on #14
Hi @ricardozanini and @tsurdilo,
Thank you for your suggestions and help.
I checked the code and I am back with some suggestions:

1. In order to be able to identify any errors from the full workflow unmarshalling, I would propose to change the WorkflowCommon altering the json tags of the needed fields.
``
Events           []Eventdef `json:"-"`
``
This way, those fields will be ignored during the

[2020-11-24 13:25] ricardozanini commented on #14
Hi @iwita ! Many thanks for your suggestions!

I believe it's better to implement a `UnmarshalJSON` function to `EventDef`, `FunctionDef`, and `RetryDef`, this way we can fetch for the URI and unmarshal it recursively. The problem is that the tool we are using to generate code is already generating the functions for these types. We will have to configure the tool to not generate it for these types

[2020-11-25 13:02] iwita commented on #14
Hello,

Since `UnmarshalJSON` implements the json.Unmarshaler for each respective field (`Eventdef`, `Functiondef` ), we needed a wrapper type in order to handle slices of (`Eventdef`, `Functiondef` ). Otherwise, by modifying the `Eventdef` handler, `json.Unmarshal()` (for the workflow type), didn't even reach `Eventdef` type, because it returned an error when detecting a `string` instead of a `[]

[2020-11-25 15:29] ricardozanini commented on #14
Hey @iwita !

yes, since the structure is an array of attributes and not a string, the unmarshal will complain. That's why I said that we might need to change the [`UnmarshalJSON`](https://github.com/serverlessworkflow/sdk-go/blob/master/model/zz_generated.types_events.go#L104-L119) function and unmarshal to `RawJson` first, check if it's a string first. More or less what you did in the example.

[2020-11-30 00:38] alankm opened #17 "Eventstate does not default the 'exclusive' field to true."
**What happened**:

Unmarshaling a workflow with an Event state that has an unspecified 'exclusive' field. The value for the field is 'false'.

**What you expected to happen**:

The spec states that the default value for 'exclusive' should be 'true'.

**Anything else we need to know?**:

If a key is missing in JSON Go will unmarshal it to the type's default value. The default value for a boolean i

[2020-12-01 10:36] iwita commented on #14
Hi all,

I searched for the `model/zz_*` files generation process. The https://github.com/atombender/go-jsonschema repository is used in order to create the schema for each type. It does not seem to produce any other files.

When running the `hack/generate-spec-types.sh` script there are several warnings occurring.
1.  The Events, Functions types are created as map[string]interface{}, since in the

[2020-12-01 13:18] ricardozanini opened #18 "Add Workflow Compensation support"
Related to: https://github.com/serverlessworkflow/specification/pull/192/

We need to update the parsing methods to reflect this new feature from the spec side.

[2020-12-01 13:39] ricardozanini commented on #14
Great additions, @iwita

Regarding this:

Reading this part of the code, I believe they follow the spec and we might need to change our field to float instead. @tsurdilo wdty?

https://github.com/serverlessworkflow/specification/blob/master/schema/retries.json#L37-L38

[2020-12-01 14:07] ricardozanini commented on #17
Thanks for opening @alankm
I'll fix that ASAP. But if you have the bandwidth, please feel free to send a PR!
Many thanks!

[2020-12-01 14:08] ricardozanini commented on #16
Thanks, @alankm for giving a try to the SDK and reporting back. I'll add this one as well as the other bug you've opened in a small patch. As always, feel free to send a PR if you have the bandwidth.

Thanks again!

[2020-12-01 16:16] iwita commented on #14
Thank you @ricardozanini

The script complains about the jitter minimum field.
https://github.com/serverlessworkflow/specification/blob/master/schema/retries.json#L43-L44

[2020-12-01 16:33] tsurdilo commented on #14
I think in jsonschema "number" represents both integers and floats. Maybe best to just use float on the sdk side as thats superset?

[2020-12-01 19:33] ricardozanini commented on #14
@tsurdilo @iwita I believe I covered this problem in this PR: https://github.com/serverlessworkflow/specification/pull/193

[2020-12-01 19:34] ricardozanini commented on #14
jitter or `maxAttempts`? Since the last one was in integer format and float was expected.

[2020-12-01 20:49] alankm commented on #17
What are your requirements in terms of breaking changes. I notice the release is tagged v1.0.0, which may imply that breaking changes are not acceptable.

The reason I ask is because the cleanest way to fix this would be to change the field to a pointer.

[2020-12-01 21:15] iwita commented on #14
Now there is an additional error occurring in `hack/generate-spec-types.sh`. This time for the `workflow.json` because it does not accept once again the minimum field.

`` --> Generating specification types    ``
`` gojsonschema: Loading /tmp/serverlessworkflow/schema/common.json      ``
`` gojsonschema: Loading /tmp/serverlessworkflow/schema/events.json    ``
`` gojsonschema: Warning: Multiple ty

[2020-12-02 13:25] ricardozanini commented on #14
I'll revert them back to 0 instead. `0.0` and `0` seems the same to me. Might be a bug in their side, but I'd rather keep `0`. @tsurdilo would you be angry if we revert from `0.0` to `0` in the spec?

[2020-12-02 13:28] ricardozanini commented on #17
I agree using pointers instead is a better and cleaner approach. I'd rather not break the API, but the project is reasonably new. That way I think we can tolerate this break for now and release a `v1.1.0`.

[2020-12-02 13:56] tsurdilo commented on #14
@ricardozanini that's fine. let's go for it.

[2020-12-02 13:59] iwita commented on #14
Then I hope it does not complain for the maximum value as well (which is 1.0) in the `jitter` case.

[2020-12-02 14:13] ricardozanini commented on #14
@iwita can you test with this PR instead? https://github.com/serverlessworkflow/specification/pull/195

[2020-12-02 22:06] alankm commented on #17
The model code looks like it was generated. Was that a one-off? If I make changes to those files will they end up being overwritten?

[2020-12-03 15:52] ricardozanini commented on #17
Yeah, the model code is generated, but we have a script to change it. For now, is a shell script "hack". We could elaborate more to add those kinds of changes.

[2020-12-04 18:50] #14 closed

[2020-12-05 01:34] iwita commented on #17
Hi @alankm ,

Do you have some testcase for this?

[2020-12-05 04:00] tsurdilo commented on #18
https://github.com/serverlessworkflow/specification/pull/194 also changes the schema

[2020-12-05 13:03] iwita commented on #16
Hi,
I checked this issue.
@ricardozanini  I think that the generator generates the files with the prefix `zz_generated.types*` in the model package.

It seems that in the Unmarshal function for the `DatabasedSwitch` only the `dataConditions` are parsed.
I have 2 possible suggestions.
1. This is the ugly one. We can add all the fields (`name`, etc) explicitly in the `func (j *DatabasedSwitch) Unmar

[2020-12-07 12:07] ricardozanini commented on #18
As soon as we merge these PRs, I'll update here. Thanks, @tsurdilo !

[2020-12-07 21:14] ricardozanini commented on #16
I think `2` is an ok approach. Do you want to send a PR? We can discuss there ;)

[2020-12-08 17:20] iwita commented on #16
Hello @ricardozanini,
I sent PR #21. However, I needed to apply changes in the generated files.

[2021-05-04 12:57] ricardozanini opened #25 "Align SDK with specification 0.6"
**What would you like to be added**:
We must align the SDK with the newly 0.6 version

[2021-05-06 16:08] ricardozanini commented on #17
@iwita also fixed in #26

[2021-05-06 16:09] ricardozanini commented on #18
Fixed in #26

[2021-05-06 16:19] ricardozanini opened #28 "Create CI to verify the SDK against the Specification Examples on main branch"
**What would you like to be added**:

Would be nice to have a CI to run every night on the Specification main branch, so we could catch the unmarshalling problems as soon as we update the spec, hence keeping the SDK up to date.

**Why is this needed**:

To avoid big changes such as #26

[2021-05-17 14:44] #16 closed

[2021-05-17 14:44] #17 closed

[2021-05-17 14:44] #18 closed

[2021-05-17 14:44] #25 closed

[2021-05-18 14:29] ricardozanini opened #30 "Add examples to handle Workflow Definitions as Kubernetes objects"
**What would you like to be added**:

Add examples of a CRD/CR being parsed by the SDK, so implementations based on Kubernetes could use it as inspiration to build their own.

**Why is this needed**:

Most of the Kubernetes environment is built around Golang. This example could be useful for implementations based on Kubernetes operators written in Golang.

[2021-05-18 15:17] ricardozanini opened #31 "Update SDK with specification 0.7 version"
This is a needed task to update the SDK models to specification 0.7 version.

[2021-06-07 17:32] ricardozanini opened #32 "Take a look at Mermaid JS as a possible solution for workflow grapth generation"
Just a remainder to look at https://mermaid-js.github.io/mermaid/#/

[2021-07-07 22:04] jjrodenburg opened #33 "YAML Workflow unmarshal panics in v2"
**What happened**:
We have a workflow yaml file that parses correctly in v1 and the Java SDK. When trying in v2, we get a panic inside the JSON Unmarshal code. Line 107 in workflow.go. Error:
`panic: interface conversion: interface {} is []interface {}, not map[string]interface {}`

We parse using a call to `FromYAMLSource`.

**What you expected to happen**:
I expected the workflow to parse correc

[2021-07-08 16:38] jjrodenburg commented on #33
Closing; we were able to get it to parse by making adjusting the action arguments logic:
`actions:
name: DetectCorgiAction
functionRef:
refName: Detect
arguments:
- template: "${ .corgiBioInfo }"
resultEventRef: CorgiDetectionResults`

to

`actions:
name: DetectCorgiAction
functionRef:
refName: Detect
arguments:
  template: "${ .corgiBioInfo }"
resultEventRef: CorgiDetectionResults`

[2021-07-08 16:38] #33 closed

[2021-07-08 17:17] tsurdilo commented on #33
@ricardozanini ^^

[2021-07-08 17:21] tsurdilo commented on #33
@jjrodenburg sorry just had time to look at this now - yes the arguments prop is object type not array. Glad you got it fixed!

I wanted to ask you - could you tell us about your involvement with our specification ? We are really interested to learning about users experiences, thoughts, and to get inputs. If you don't mind feel free to tell us here or hit me up on the CNCF slack (#serverless-workf

[2021-07-12 16:46] jjrodenburg commented on #33
@tsurdilo No worries! We're evaluating using the serverless workflow specification and this go sdk for an internal project. I'm liking it so far. I'll keep filing issues here if I encounter them.

[2021-07-12 16:49] jjrodenburg opened #34 "Go get does not get latest version of SDK"
**What happened**:
When doing a go get on this repo, I get version 1. When trying to pin the version to "latest", I also get version 1. Version "v2.0.0" returns a not found error. Only by using the latest commit hash was I able to get version 2 of the SDK, which is listed in the go modules as version 0:
`github.com/serverlessworkflow/sdk-go v0.0.0-20210518140713-51a119677646
`
**What you expected

[2021-07-12 20:28] ricardozanini commented on #33
thanks @jjrodenburg @tsurdilo I had rough days the past week, I'll take a look at the issues this week and work on them.

[2021-07-16 07:12] iwita commented on #30
Hello @ricardozanini.
I could possibly help with that.

[2021-07-16 12:37] ricardozanini commented on #30
@iwita go ahead :)

[2021-07-16 20:29] jjrodenburg opened #36 "Retry Multiplier and Jitter should be float or string"
**What happened**:
Retry multipliers and Jitters can either be of type float or ISO 8601 duration string per the specification. The code in retry.go currently has the type as `intstr.IntOrString`. To use a multiplier or jitter as float, you have to parse it from the string. This works, but it seems odd that the SDK allows them to be provided as integers when the spec says they have to be floats or

[2021-09-21 18:43] tee05S opened #40 "Examples of GO SDK implementations"
I am interested in implementing the serverless workflow using the GO SDK in one of my projects.

Do you think that the Go SDK is mature enough to use in projects. Are there any projects which are currently live with the Go SDK? Do you have a sample GO project using the serverless workflow which I can use as reference?

Any help would be appreciated!

[2021-09-21 19:04] tsurdilo commented on #40
@ricardozanini ^^

@tee05S the latest Go SDK release https://github.com/serverlessworkflow/sdk-go/releases conforms to the specification v0.6 version. We are still working on the next release that should align it with the v0.7 spec release. Ricardo might be able to give you some ballpark time estimate for that.

As far as maturity goes, we rely on tests and keep adding tests for each of SDK releas

[2021-09-22 16:33] tee05S commented on #40
@ricardozanini does the new release have support for graphql as I was not able to wire it in. Do we have any examples of the go sdk implementations?

[2021-09-22 16:36] ricardozanini commented on #40
@tee05S I'd say that the SDK is mature enough to start implementation in Go. It does all the basics that you need to be done like parsing and validating the SDK.

We welcome contributions to add more features.

What do you mean by graphql support? Can you elaborate? The specification defines that a function can be of the type GraphQL, and we will probably add validation to the attribute. The execu

[2021-09-23 21:35] #34 closed

[2021-09-24 13:59] #36 closed

[2021-09-27 16:26] tee05S commented on #40
@ricardozanini What I meant was that the Function struct in the model package doesnt have a type attribute to implement different types of function calls

[2021-09-27 17:54] ricardozanini opened #44 "Add Validators for ISO 8601 duration format"
**What would you like to be added**:
The SDK could add validation in the attributes required by this format, for example:
https://github.com/serverlessworkflow/specification/blob/0.7.x/schema/timeouts.json#L104

**Why is this needed**:
Ease of use and user's experience with the SDK.

[2021-09-29 07:34] tee05S opened #45 "model.State.GetName() does not return a value when the state type is switch"
**What happened**:
model.State.GetName() does not return a value when the state type is switch
**What you expected to happen**:
state name is returned even when the state type is switch

**Anything else we need to know?**:
I have tried this with only data based switch
**Environment**:
- Specification version used:
- 0.6

- Go version:
go1.16.3

[2021-09-29 07:40] tee05S commented on #16
@iwita @ricardozanini
Was this fixed and merged? I am facing similar issue

[2021-09-29 11:48] ricardozanini commented on #16
Hi! It was on #25. We have an issue with 2.0.0 release, I'll release a patch version to fix that. So until there can you please try getting the latest commit instead of the 1.0.0 version in your `go.mod` file?

[2021-09-29 19:09] ricardozanini commented on #45
Hi @tee05S many thanks for reporting this issue. Can you please share your workflow? I've tried with the latest PR (#43) targeting 0.7 version of the spec and it's working.

I can test with the previous version since I need to upgrade and fix the tag.

[2021-10-01 18:22] #31 closed

[2021-10-01 19:50] ricardozanini commented on #40
@tee05S can you suggest an implementation? The custom function type was introduced for the to-be-released v0.8. I will start thinking about custom functions now since we just released v0.7.

Feel free to suggest something, so we can work together to implement it. :)

[2021-10-04 17:30] tee05S commented on #45
Hi @ricardozanini

this is the workflow sample I used:

{
    "id": "applicantrequest",
    "version": "1.0",
    "name": "Applicant Request Decision Workflow",
    "description": "Determine if applicant request is valid",
    "start": "CheckApplication",
    "functions": [
      {
         "name": "sendRejectionEmailFunction",
         "operation": "http://myapis.org/applicationapi.json#emailReje

[2021-10-04 18:21] ricardozanini commented on #45
Hi!

I've just tested with the `main` branch (version 2.1.0) and it's working fine. The `DataSwitchState` has an intermediate `BaseSwitchState` class in the hierarchy, but that shouldn't be a problem.

Can you try if the latest version? `go get github.com/serverlessworkflow/sdk-go/v2`

<img width="882" alt="Screen Shot 2021-10-04 at 15 18 50" src="https://user-images.githubusercontent.com/1538000/

[2021-12-14 04:25] globalflea opened #47 "OnError - how to tell whether Transition or End is defined (which to use)?"
**What is the question**:
Since the OnError struct defines both Transition & End as struct and not pointers, how should i check if either is "defined" since i can't check for nil?

[2021-12-14 18:11] ricardozanini commented on #47
We can change that to a `pointer` instead so you can check it for `nil`.

[2021-12-15 09:00] globalflea commented on #47
actually, i am currently check if Transition.NextState is empty string to infer that Transition is not defined, which then implies it is End.  Not sure if this is the right approach.

[2021-12-15 09:16] globalflea opened #48 "Retry.Multiplier - no way to know if its undefined"
in the struct Retry.Multiplier which is a floatstr.Float32OrString, there's no way to distinguish this field as not defined.  In the spec, this is supposed to be an optional field.  The default struct of Float32OrString will be Type Float and the zero value of FloatVal will be a 0.0 - which will be value if the workflow json/yaml left this out.

Unless i take Multiplier of 0 to be "not defined"?

[2021-12-15 14:42] tsurdilo commented on #48
@globalflea agree, can you open issue in spec repo to add that multiplier smallest value should be 1. It makes no sense imo to have a 0 multiplier.

[2021-12-16 12:06] ricardozanini commented on #48
@globalflea do you mind opening a PR to fix this?

[2021-12-17 09:00] globalflea commented on #48
I am new to open source and not too sure what you mean.. Are you asking me to open a Pull Request - and I fix it?

[2021-12-17 15:41] tsurdilo commented on #48
@globalflea yeah we are community-driven project and community help on reporting and contributing to fixing bugs is something we rely on.
The level of contributions can of course vary depending on the person, but all help is more than welcome.
If you don't feel comfortable with contributing code, that's perfectly fine, just note that in some cases contributing a fix yourself might get you unblocke

[2021-12-17 16:58] globalflea commented on #48
No problems, don't think I have any issues fixing the code. Since I am fairly new to this, patience on your part may be required.

[2021-12-22 12:59] ricardozanini commented on #48
You did great :)

[2021-12-28 13:16] globalflea opened #50 "Standardize on embedded structs or embedded interfaces"
**What would you like to be added**:
Need to standardize on using embedded struct or embedded interface, with the latter preferred.
E.g. `OperationState` embeds struct `BaseState` instead of interface `State`,  whilst, `EventBaseSwitchState.EventConditions` embeds interface `EventCondition` instead of struct `BaseEventCondition`.

**Why is this needed**:
With the various States - e.g. `OperationSt

[2021-12-28 19:36] ricardozanini commented on #50
I might be missing something, but the intention was to have all the states implement the `State` interface. If they are not it's a bug. Can you open a PR? Should be fairly simple to fix this.

[2021-12-29 00:37] globalflea commented on #50
Think will need to provide a custom unmarshal func

[2021-12-29 13:36] ricardozanini commented on #50
Let me know if you are ok sending a PR. Otherwise, I can get this one after the new year. :)

[2021-12-30 05:11] globalflea commented on #50
I think it's major rework as all (or almost all) states current embed the BaseState struct. Would rather leave such a big PR to you since I am still pretty unfamiliar with the code base

[2022-01-03 07:01] globalflea opened #51 "JQ Expressions in Unit Test not consistent with specs standards and examples"
I was looking at adding unit test and looked at `parser/testdata/workflows/applicationrequest.json` with the following DSL:
[code]
I noticed that "condition" expression is not in accordance with the specs - the specs says that Jq expression should be within the `${ }` rather than `{{ }}` - is this a mistake or is this intentional (ie. different expression language) ?

Also in the [1.7 versions of

[2022-01-04 13:11] ricardozanini commented on #51
I think I don't understand your question. The question is whether or not the SDK should validate the expression?

[2022-01-04 13:16] globalflea commented on #51
Actually, I was wondering why the test json specs do not use jq expressions

[2022-01-04 14:04] ricardozanini commented on #51
It's jsonpath if I recall correctly. But the SDK is not parsing the expressions, so won't matter.
I think we can add at least a validation to the expressions based on the `workflow.expressionLang` attribute.

[2022-03-07 16:01] andresmijares opened #53 "k8s.io/klog/v2/klog logger types error"
**What is the question**:

I'm having the following output trying to exec the readme.md sample
[code]

This is the code I'm trying to implement:

[code]

Any ideas?

[2022-03-15 21:16] VicNgu opened #55 "Support multiple Auths"
**What would you like to be added**:
Per the specification, it seems like there should be multiple auth objects supported.
https://github.com/serverlessworkflow/specification/blob/main/specification.md#auth-definition
Primarily:
"Auth definitions can be used" (plural)

Based on this table as well:
https://github.com/serverlessworkflow/specification/blob/main/specification.md#workflow-definition-st

[2022-03-28 19:54] ricardozanini commented on #53
Sorry, @andresmijares. This one slipped from my inbox. I was on vacation, returning today. I'll take a look later this week.

[2022-03-31 17:18] andresmijares commented on #53
thank you!!

[2022-03-31 17:56] ricardozanini commented on #53
@andresmijares I know that's silly, but have you tried running on Go 1.14?

[2022-03-31 19:33] #55 closed

[2022-05-30 03:05] mend-bolt-for-github[bot] opened #59 "github.com/kubernetes-sigs/yaml-v1.2.0: 1 vulnerabilities (highest severity is: 5.5) - autoclosed"
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>github.com/kubernetes-sigs/yaml-v1.2.0</b></p></summary>

<p></p>
<p>

</details>

## Vulnerabilities

| CVE | Severity | <img src='https://whitesource-resources.whitesourcesoftware.com/cvss3.png' width=19 height=20> CVSS | Dependency | Type | Fix

[2022-06-08 01:50] #59 closed

[2022-07-21 19:35] #53 closed

[2022-07-25 19:47] andresmijares opened #60 "Access Events State"
**What happened**:

When implementing https://github.com/serverlessworkflow/sdk-go/blob/main/model/states.go#L64 , I cannot find any method that returns the `OnEvents` type, there's one for `OnErrors`, however, nothing for `OnEvents`

I wonder if this is the right behaviour and there's other way to have access to it, or just a bug.

The same applies for all other type of events, like ParallelState

[2022-07-25 20:24] ricardozanini commented on #60
Hey @andresmijares, thanks for opening this issue!

Not all states have the `OnEvents` method (the SDK supports spec version 0.8). In this case, you need to convert to `EventState`: https://github.com/serverlessworkflow/sdk-go/blob/main/model/states.go#L138.

Can you try?

[code]

I'm writing this from the top of my head, but you should be fine if you do the conversion. You may need to verify if t

[2022-07-25 20:41] andresmijares commented on #60
Thank u @ricardozanini

Interesting! it does the trick-sorta

I'm playing with this def https://github.com/serverlessworkflow/specification/tree/main/examples#workflow-definition

so I changed packages to use the `v1` instead of `v2`. The workflow definition `specVersion` is 0.8 as url shows.

when I try to parse, it doesn't like the `end: true`, if I remove it, i have access to it.

I'm cool work

[2022-07-26 06:55] BuilderHarrison opened #61 "Intermittent JSON Unmarshalling Error"
**What is the question**:
Hello, i've got a repo https://github.com/BuilderHarrison/temporal-hello-world-dsl and when i run it, it fails 50% of the time and succeeds 50% of the time. I am very new to both temporal and the serverless sdk. So im unable to quite figure out how to proceed with debugging the issue. The issue im getting is:

`{
  "type": "workflowExecutionFailedEventAttributes",
  "fail

[2022-07-26 10:41] ricardozanini commented on #61
Hi @BuilderHarrison, thanks for opening this issue.

I'm unfamiliar with temporal, so I can't help much there. Can you isolate the error to the SDK only? Please use the example in our [README](https://github.com/serverlessworkflow/sdk-go#parsing-serverless-workflow-files) with your workflow input to determine if the problem is related to this SDK.

[2022-07-26 12:43] tsurdilo commented on #61
Check the data you pass as input to your wf exec. it has to be serializable to json by default

[2022-07-26 13:37] andresmijares commented on #60
@ricardozanini worked! thank you so much!

[2022-07-26 14:42] #60 closed

[2022-07-28 04:56] BuilderHarrison commented on #61
Thanks for the assistance guys. Fortunately, it was a rogue temporal worker process that was still running in the background for an old piece of code. After restarting the temporal cluster this problem went away.

[2022-07-28 04:56] #61 closed

[2022-08-03 19:23] andresmijares opened #62 "Access DatabaseSwitchState transitionDataCondition"
**What is the question**:

When trying to recreate [this example](https://github.com/tsurdilo/swtemporal/blob/232feea4fc8fa75686b2f19a0aa60f82f8e5bf5c/src/main/java/io/serverlessworkflow/demo/temporal/TemporalServerlessWorkflow.java#L149) I've found the following case...

Given this state definition

[code]

How do I get access to the transition? assuming that:

[code]

I wonder if I should cast i

[2022-08-03 19:57] ricardozanini commented on #62
That's the correct way of doing that now, but we can improve this.

Instead of having `TransitionDataCondition`, we can introduce `Transition` to `DataConditions` directly. It's not a huge change and should be simple enough. @andresmijares do you mind sending a PR?

[2022-08-03 20:02] andresmijares commented on #62
@ricardozanini sure thing! I will work on that during the weekend! thank you!

[2022-08-13 14:49] bryanl commented on #53
For those finding this through a Google search, try updating your klog dependency. `k8s.io/klog/v2 v2.70.1 ` works.

[2022-08-15 12:16] ricardozanini opened #63 "Upgrade Dependencies for a patch release"
**What would you like to be added**:
Some of our dependencies are getting old, it would be nice to upgrade them and release a patch version.

**Why is this needed**:
See #53 for reference. `klog` is an indirect dependency from kubernetes utils we use and needs to be updated. That's the right time to do it.

[2022-08-15 12:17] #48 closed

[2022-08-15 12:20] ricardozanini commented on #53
Thanks, @bryanl. I've opened an issue to track this down. I'll upgrade our dependencies.

[2022-08-25 18:17] #62 closed

[2022-08-29 15:21] #63 closed

[2022-09-07 03:55] lsytj0413 opened #69 "The top level auth property should indeed be of array or string types"
**What happened**:

[this example](https://github.com/serverlessworkflow/sdk-go/blob/main/parser/testdata/workflows/applicationrequest.json#L8) should validate with error，because in the specification, it must be an array or string.

<img width="1082" alt="image" src="https://user-images.githubusercontent.com/6871552/188785264-3245de8e-b523-4d42-82b4-56e754d3c383.png">

**What you expected to happe

[2022-09-07 03:55] lsytj0413 commented on #69
/assgin

[2022-09-07 07:00] brlala opened #70 "Update support to v0.8"
**What would you like to be added**:
Update to v0,8

**Why is this needed**:
V0.8 has lots of new enhancements like async subflow and custom function. All other SDK has already been updated, should this be done as well?

[2022-09-08 14:55] ricardozanini commented on #70
@brlala, it's on our roadmap to upgrade. We are looking for contributions :)

[2022-09-08 14:56] #69 closed

[2022-09-08 14:57] #47 closed

[2022-09-08 14:58] ricardozanini commented on #45
I'm closing this issue since it has been opened for quite some time without a response. Please reopen if needed.

[2022-09-08 14:58] #40 closed

[2022-09-09 12:33] #44 closed

[2022-09-13 08:34] lsytj0413 opened #74 "validate paas when switchState.dataConditions.transition is empty"
**What happened**:

when remove the test example's https://github.com/serverlessworkflow/sdk-go/blob/main/parser/testdata/workflows/applicationrequest.json#L35 transition field，the ut still pass.

**What you expected to happen**:

- The unit test report failed

**How to reproduce it**:

**Anything else we need to know?**:

**Environment**:
- Specification version used:

- Go version:

[2022-09-14 13:46] ricardozanini commented on #74
@lsytj0413, are you submitting a PR for this? If not, I can provide the fix :)

[2022-09-14 13:50] lsytj0413 commented on #74
I'm working on the fix for it，and the i will post the plan for discuss under the issue.

[2022-09-15 09:23] lsytj0413 commented on #74
For fix this issue, I proposal to replace `go-playground/validator/v10` with all custom validate function.

**How do we use validator:**

+ we only use five tags: required、omitempty、min、max、dive
+ use StructLevelFunc for addtional validate
+ the error message will contains struct & field names

From the above description it can be known that we only use a few feature in validator.

**disadvantage:

[2022-09-15 11:16] lsytj0413 commented on #51
Should we close the issue because all jsonpath have been changed to jq:

- https://github.com/serverlessworkflow/sdk-go/pull/73

[2022-09-15 12:47] #51 closed

[2022-09-15 12:50] ricardozanini commented on #74
@lsytj0413 the proposal is good, but I think that even with the limited scope we are using, it still is something we didn't have to do for ourselves.

We can review the tags, add more appropriate ones/fix the existing and create custom validation within the framework.

[2022-09-16 02:38] lsytj0413 commented on #70
@ricardozanini I'd like to take care of this, because I am reviewing all the existing verifications, relevant to this feature.

[2022-09-16 12:12] #74 closed

[2022-09-16 15:06] ricardozanini commented on #70
@lsytj0413 that's perfectly fine from my side.

[2022-09-21 16:58] spolti commented on #70
Hi all, I'll he helping on this task in the next few days.

The spec for reference: https://github.com/serverlessworkflow/specification/tree/0.8.x/roadmap#-release-version-08

The table below is to help us to track what needs to be completed:

| Status | Description | Comments |
| --- | --- | --- |
| :exclamation:| Support custom function `type` definition |
| :exclamation: | Workflow "name" no lo

[2022-09-22 01:46] lsytj0413 commented on #70
@spolti  I'm working on `Added "useData" for eventDataFilter, and "useResults" for actionDataFilter`

[2022-09-22 14:26] spolti commented on #70
Thanks for the update @lsytj0413.

[2022-09-27 11:39] spolti commented on #70
@lsytj0413 for the item you was working on, in the PR that was merged you have added only the useData, are you going to send another pr for the useResults field?

[2022-09-27 12:46] lsytj0413 commented on #70
Yep, i'm working on another PR to add `useResults` field.

[2022-09-30 14:50] spolti commented on #70
probably closed by my mistake :D
@ricardozanini can you please re-open?

[2022-09-30 19:52] calvinmclean opened #86 "map of AuthProperties pointers causes all parsed Workflows to have the same AuthProperties"
**What happened**:
When parsing multiple Workflows with Bearer Auth, the tokens all end up the same.

**What you expected to happen**:
Each Workflow would have the bearer token specified in the Workflow YAML/JSON.

**How to reproduce it**:
Parse multiple Workflow files into Workflow models and print the pointer address of `workflow.Auth.Properties` and they will all be the same.

**Anything else w

[2022-09-30 20:02] spolti commented on #86
Hi @calvinmclean, thanks for reporting this, I'll be taking a look on this next week.

[2022-09-30 20:04] calvinmclean commented on #86
Hi @spolti, thanks for your quick reply. I have a PR open now with a simple fix.

[2022-10-03 16:16] spolti commented on #70
For the `Added example for "continueAs"` item, there isn't much to do, however there is no test to validate it.
While adding a test it turns out that the `data` field is always nil, for example:

[code]

I am looking over it to figure out why.

[2022-10-03 17:21] #86 closed

[2022-10-05 12:25] spolti opened #98 "Provide a code style for IDEs"
Provide a standard code style profile so contributors can import it to help to keep a pattern across the code base.
For now, provides a profile for:

- IntelliJ / GoLand
- vscode

Note: This info needs to go into the CONTRIBUTIONS.md

[2022-10-05 12:30] ricardozanini commented on #98
@spolti thanks! Are you going to do it? Please add to the CONTRIBUTIONS.md file too.

[2022-10-05 12:47] spolti commented on #98
Yes :)

[2022-10-05 13:27] spolti commented on #70
All tasks done.
Thanks very much everyone for the effort put on this. :)

[2022-10-05 13:36] ricardozanini commented on #70
@spolti, I think we can add more test cases using workflows from v0.8 to ensure we are all set. Also, if you are working on an implementation, can you please try your use cases with the latest commit and report back?

@lsytj0413 same thing, please.

So that I can work on a new release by the end of this week. :)

[2022-10-06 13:33] spolti commented on #70
@ricardozanini do you mean a v8 file that contains all v08 additions?
@davidesalerno can you please try it with the operator you are working on?

[2022-10-06 18:25] ricardozanini commented on #70
@spolti maybe looking for examples updated with v0.8: https://github.com/serverlessworkflow/specification/tree/0.8.x/examples

[2022-10-07 14:09] spolti opened #99 "Generate DeepCopy methods"
**What would you like to be added**:
When working with hard typed Workflow definition, we might need to define the base workflow struct and import the types from sdk-go.

[code]

Such scenario can thrown the following compilation error:

[code]

We can rely on https://pkg.go.dev/k8s.io/gengo/examples/deepcopy-gen
to have these automatically generated.

[2022-10-10 14:10] lsytj0413 opened #103 "Cannot refs to yaml format file"
**What happened**:

1. add examples `https://github.com/serverlessworkflow/specification/tree/0.8.x/examples#reusing-function-and-event-definitions` for parse
2. got error `invalid character '#' looking for beginning of value`

**What you expected to happen**:

1. parse correct

**How to reproduce it**:

**Anything else we need to know?**:

**Environment**:
- Specification version used:

- Go vers

[2022-10-10 14:10] lsytj0413 commented on #103
/assign

[2022-10-10 18:43] spolti commented on #70
a few fixes: https://github.com/serverlessworkflow/sdk-go/pull/104

[2022-10-11 18:41] amadhusu commented on #99
/assign

[2022-10-11 20:34] spolti commented on #99
@amadhusu there is a draft here, if you want to continue from there
https://github.com/spolti/sdk-go/tree/deepCopy

[2022-10-13 14:40] spolti opened #107 "nil pointer on Events timeouts"
**What happened**:
While trying to parse a workflow file the event timeouts (all types) was getting a nil pointer.

**What you expected to happen**:
The parsed timeout values.

**How to reproduce it**:
Create a workflow with events timeouts and try to parse it  using the FromFile func.
e.g.:
[code]

And when trying to assert them, a nil would happen:
[code]

**Anything else we need to know?**:

**

[2022-10-13 14:40] spolti commented on #107
/assign

[2022-10-13 14:48] lsytj0413 opened #108 "Set ParallelState.CompleteType defaults to allOf"
**What happened**:

**What you expected to happen**:

**How to reproduce it**:

**Anything else we need to know?**:

**Environment**:
- Specification version used:

- Go version:

[2022-10-13 14:57] lsytj0413 commented on #107
I can't reproduce this issue. This is how did i do:

add below content to `continue-as-example.yaml` files 36-41 line:
<img width="484" alt="image" src="https://user-images.githubusercontent.com/6871552/195632237-e5291901-94d5-478c-b5a3-fb4d0148fbe1.png">

add below code to testcase:
<img width="946" alt="image" src="https://user-images.githubusercontent.com/6871552/195632187-0757be81-170a-4b0e-85

[2022-10-13 15:03] spolti commented on #107
Indeed, it actually happens on the ParrallelState, let me update it.

[2022-10-13 15:05] spolti commented on #107
also with EventBasedSwitchState, DataBasedSwitchState

[2022-10-14 02:49] lsytj0413 commented on #107
aha，i think there is a misunderstand of specification. According to the specification https://github.com/serverlessworkflow/specification/blob/0.8.x/specification.md#Parallel-State-Branch, Branch doesn't have actionExecTimeout & branchExecTimeout properties (they are under timeouts properties):

<img width="737" alt="image" src="https://user-images.githubusercontent.com/6871552/195750856-d99c8302-

[2022-10-14 15:47] ricardozanini commented on #107
let's fix this then :)

[2022-10-14 17:55] spolti commented on #107
That's correct, fixed the yaml here: https://github.com/serverlessworkflow/sdk-go/pull/104

The test is asserting the correct location:
`assert.Equal(t, "PT5H", w.States[2].(*model.ParallelState).Branches[0].Timeouts.ActionExecTimeout)`

[2022-10-17 08:30] lsytj0413 opened #109 "Move ForEachState to an separate foreach_state.go file"
**What would you like to be added**:

**Why is this needed**:

- This will make the code more clear

[2022-10-20 13:38] obloquy opened #110 "Valid parsed workflow cannot be unmarshalled after being marshalled to JSON"
**What happened**: I'm working on integrating serverlessworkflow and Temporal and using the current main branch of the serverlessworkflow sdk (b9db1ddbffb2). I'm trying to pass a parsed serverlessworkflow to a Temporal workflow. This leads the Temporal SDK to go through a marshal/unmarshal cycle which fails to unmarshal some recent Auth def changes in the serverlessworkflow.

**What you expected t

[2022-10-20 18:08] ricardozanini commented on #110
@lsytj0413 @spolti, can you guys take a look, please? Might be related to the recent changes.

[2022-10-20 22:25] spolti commented on #110
hi, the referred pr fixes the issue, please validate.

[2022-10-20 23:04] obloquy commented on #110
Cheers. Thanks for the quick turnaround. I can confirm the issue is resolved by #111

[2022-10-21 14:28] #103 closed

[2022-10-21 14:29] mend-bolt-for-github[bot] opened #112 "github.com/go-playground/validator/v10-v10.11.1: 1 vulnerabilities (highest severity is: 7.5)"
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>github.com/go-playground/validator/v10-v10.11.1</b></p></summary>

<p></p>
<p>

<p>Found in HEAD commit: <a href="https://github.com/serverlessworkflow/sdk-go/commit/9055243d6018db9447a23dd1b934d0186d3bf08a">9055243d6018db9447a23dd1b934d0186d3bf08

[2022-10-22 02:28] lsytj0413 opened #113 "Reorganize testdata to keep the examples in a independent directory"
**What would you like to be added**:

**Why is this needed**:

[2022-10-22 02:28] lsytj0413 opened #114 "Change the root path of not absolute import file"
**What would you like to be added**:

**Why is this needed**:

- https://github.com/serverlessworkflow/sdk-go/pull/100#discussion_r991328194

[2022-10-22 02:33] lsytj0413 opened #115 "Add Prow bot style tool to automate PR/Issue workflow"
**What would you like to be added**:

- use https://github.com/kubernetes/test-infra/tree/master/prow style tool to automate  `PR merging` and other job.

**Why is this needed**:

[2022-10-24 06:00] lsytj0413 commented on #115
Perhaps https://github.com/jpmcb/prow-github-actions/issues is helpful.

[2022-10-24 11:05] lsytj0413 opened #117 "Move CallbackState to an separate callback_state.go file"
**What would you like to be added**:

**Why is this needed**:

- This will make the code more clear

[2022-10-24 13:27] spolti commented on #114
Hi. @lsytj0413, can you please add more details about this enhancement?

Thanks :)

[2022-10-24 13:55] spolti commented on #70
@ricardozanini it seems that we are ready to release the v08 and close this issue :)

[2022-10-24 13:58] #108 closed

[2022-10-24 14:04] lsytj0413 commented on #114
I have add the links to a previous comment. Currently the parser will locate import file (with not absolute path) joined the current working directory, this will base on the executable file's path.

So i proposed to add an `Include` options, user can use the to change the import file base directory.

[2022-10-24 14:21] ricardozanini commented on #115
That would be awesome. I believe I also have a new issue related to this one to include checks against the spec's scheme in the CI too.

[2022-10-24 14:28] spolti commented on #70
Actually, I need to finish this one first https://github.com/serverlessworkflow/sdk-go/pull/111

[2022-10-25 04:46] lsytj0413 commented on #115
Can you explain a little more, I'm not very clear what you mean.

[2022-10-25 04:47] lsytj0413 opened #120 "Move OperationState to an separate operation_state.go file"
**What would you like to be added**:

**Why is this needed**:

[2022-10-25 04:47] lsytj0413 opened #121 "Move InjectState to an separate inject_state.go file"
**What would you like to be added**:

**Why is this needed**:

[2022-10-25 04:48] lsytj0413 opened #122 "Move SwitchState to an separate switch_state.go file"
**What would you like to be added**:

**Why is this needed**:

[2022-10-25 11:57] spolti commented on #122
@lsytj0413 I've assigned it to you, if you are not going to work on it feel free to unassign yourself :)

[2022-10-26 02:07] lsytj0413 opened #125 "Make the validate error message more clear & meaningful"
**What would you like to be added**:

Refs: https://github.com/serverlessworkflow/sdk-go/pull/118#discussion_r1004391792

**Why is this needed**:

[2022-10-26 15:39] spolti commented on #107
fixed by https://github.com/serverlessworkflow/sdk-go/pull/104

[2022-10-26 15:39] #107 closed

[2022-10-26 16:19] spolti opened #126 "Content that have auth contains undesired key which causes unmarshal errors"
**What happened**:
When we try to marshal and unmarshal a workflow that have the auth set, it will fail, example:

Error:
[code]

**What you expected to happen**:

**How to reproduce it**:
Execute this piece of code:

[code]

**Anything else we need to know?**:

**Environment**:
- Specification version used:

- Go version:

[2022-10-27 01:49] lsytj0413 commented on #126
Is this same as https://github.com/serverlessworkflow/sdk-go/issues/110？

[2022-10-27 13:29] spolti commented on #126
more or less, the reported you gets nil if no auth is defined.

this is because the workflow can't be unmarshalled if there is auth define due the "defs" thing.

[2022-11-02 12:42] #109 closed

[2022-11-02 12:44] #120 closed

[2022-11-02 12:46] ricardozanini commented on #115
The idea is to download the scheme/examples from the main repo (https://github.com/serverlessworkflow/specification) and include specific integration tests with those assets.

[2022-11-03 01:57] lsytj0413 commented on #115
The most problem is the example have been embedded in `README.md` file's content, in order to archive this goal, we should move example's schema file to another separate directory.

[2022-11-03 14:00] spolti commented on #115
This is a valid improvement.

[2022-11-04 18:00] spolti commented on #98
@lsytj0413 @brlala @ricardozanini @davidesalerno
hey guys, I would like to ask for some inputs here, for go, the code formatting is a little bit different when compared with other languages.
e.g. for import, we have a few different tools that does it. gofmt, goimports.

So, instead of having a code style I was thinking on:

- import: default to goimports and add instruction on how to configure it

[2022-11-08 02:01] lsytj0413 commented on #115
https://github.com/serverlessworkflow/specification/issues/324 is doing this.

[2022-11-14 14:34] #117 closed

[2022-11-14 14:35] mend-bolt-for-github[bot] opened #129 "github.com/go-playground/valIDator/v10-v10.11.1: 1 vulnerabilities (highest severity is: 7.5)"
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>github.com/go-playground/valIDator/v10-v10.11.1</b></p></summary>

<p></p>
<p>

<p>Found in HEAD commit: <a href="https://github.com/serverlessworkflow/sdk-go/commit/96039609dc0e9195cb8d4736cea588a8f204cf98">96039609dc0e9195cb8d4736cea588a8f204cf9

[2022-11-14 14:39] #115 closed

[2022-11-14 14:41] #110 closed

[2022-11-14 14:41] #126 closed

[2022-11-17 14:05] #122 closed

[2022-11-18 01:19] lsytj0413 commented on #70
@ricardozanini  all task have done, could you please release the v0.8 version？

[2022-11-18 18:30] ricardozanini commented on #70
@spolti @lsytj0413 @brlala are you guys happy with the latest commit in your use cases?

[2022-11-18 18:36] spolti commented on #70
@ricardozanini maybe there is just one thing, the deepcopy stuff, not critical though.

[2022-11-21 11:04] #114 closed